@import "~react-image-gallery/styles/scss/image-gallery.scss";

#GalleryBox {
    background-color: #000;
    width: 100%;
    padding-top: 9rem;
};

.image-gallery-fullscreen-button {
    position: fixed;
    margin-bottom: 40%;

}

.fullscreen {
    padding-top: 3rem;
}

@media only screen and (max-width: 800px) {
    .image-gallery-fullscreen-button {
        margin-bottom: 20%;
    }
}

@media only screen and (max-height: 400px) {
    .image-gallery-fullscreen-button {
        position: fixed;
        margin-bottom: 30%;
    }
}