@import "~react-image-gallery/styles/scss/image-gallery.scss";

#GalleryBox {
    background-color: #000;
    width: 100%;
    padding-top: 8rem;
};

.image-gallery-content {
    width: 70%;
    margin: auto;
    top: 50%;
}
.image-gallery-image {
    margin: auto;
    margin-top: 1rem;
}
.image-gallery-slide,
.image-gallery-center {
    margin: auto;
    top: 50%;
}

.image-gallery-icon,
.image-gallery-left-nav {
    margin-left: 0%;
}

.image-gallery-icon,
.image-gallery-right-nav {
    margin-right: 0%;
}

.image-gallery-fullscreen-button {
    position: fixed;
    margin-bottom: 60%;
    width: 100px;
}
