#GalleryBox {
    position: sticky;
    background-color: #000;
    width: 100%;
    margin: auto;
    overflow: scroll;
};

.image-gallery-thumbnail-image {
    width: 10rem;
}

.image-gallery-thumbnails-right {
    padding-top: 8rem;
    height: 50rem;
}

.image-gallery-content 
.image-gallery-thumbnails-right {
    width: 30%;
}

.image-gallery-fullscreen-button {
    position: absolute;
    margin-bottom: 40%;
    width: 100px;
}