#nav {
    position: fixed;
    width: 100%;
    height: 8rem;
    font-size: 20px;
    background-color: #000000;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navMenu {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#navLogo {
    width: 12rem;
}
.navOptions {
    font-size: 1.3rem;
    color: #E3C367;
    font-family: 'Permanent Marker', cursive;
}
.navOptions:hover {
    text-decoration: underline;
    text-decoration-color: #a58115;
    color: #a58115;
}

